## Flask
flask[async]==3.1.0
Jinja2==3.1.5
click==8.1.8
werkzeug==3.1.3
blinker==1.9.0
itsdangerous==2.2.0
markupsafe==3.0.2
aioflask==0.4.0
asgiref==3.8.1
greenlet==3.1.1
greenletio==0.11.0
h11==0.14.0
uvicorn==0.34.0

# Automated tests
pytest==8.3.3
pytest-cov==6.0.0

# google_chat
google-auth==2.38.0
proto-plus==1.26.0
google-api-core==2.24.1
protobuf==5.29.3
googleapis-common-protos==1.69.0
google-api-python-client==2.120.0
google-auth-oauthlib==1.2.0
requests-oauthlib==1.3.1
oauthlib==3.2.0
google-auth-httplib2==0.1.1
httplib2==0.22.0
uritemplate==4.1.1
six==1.16.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
rsa==4.9
cachetools==5.5.2
requests==2.32.3
urllib3==2.3.0
chardet==5
idna==3.10
certifi==2025.1.31
charset-normalizer==3.4.1
grpcio==1.70.0
grpcio-status==1.70.0
pyparsing==3.2.1
importlib_metadata==8.5.0
opentelemetry-semantic-conventions==0.51b0
grpc-google-iam-v1==0.14.1
google-cloud-pubsub==2.28.0
opentelemetry-sdk==1.30.0
opentelemetry-api==1.30.0
Deprecated==1.2.18
typing_extensions==4.15.0
wrapt==1.17.2
zipp==3.21.0

#redis
redis==5.2.1
python-dateutil==2.9.0.post0
jsonschema==4.17.3
pyrsistent==0.20.0

#retry
tenacity==9.1.2

# Microsoft
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
anyio==4.9.0
attrs==25.3.0
azure-core==1.33.0
azure-identity==1.21.0
cffi==1.17.1
cryptography==44.0.2
frozenlist==1.5.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx[http2]==0.28.1
hyperframe==6.1.0
microsoft-kiota-abstractions==1.9.3
microsoft-kiota-authentication-azure==1.9.3
microsoft-kiota-http==1.9.3
microsoft-kiota-serialization-form==1.9.3
microsoft-kiota-serialization-json==1.9.3
microsoft-kiota-serialization-multipart==1.9.3
microsoft-kiota-serialization-text==1.9.3
msal==1.32.0
msal-extensions==1.3.1
msgraph-core==1.3.3
msgraph-sdk==1.27.0
multidict==6.4.2
propcache==0.3.1
pycparser==2.22
sniffio==1.3.1
std-uritemplate==2.0.3
yarl==1.19.0
jira==3.8.0
pyjwt[crypto]==2.10.1
defusedxml==0.7.1
pillow==11.2.1
packaging==25.0
requests-toolbelt==1.0.0

# Cloud Functions
functions-framework==3.8.2
cloudevents==1.12.0
deprecation==2.1.0
gunicorn==23.0.0
watchdog==6.0.0

# FastAPI
annotated-doc==0.0.4
annotated-types==0.7.0
fastapi==0.123.5
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.50.0
typing-inspection==0.4.2
