.datesearch-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.datasearch-button{
    padding: 6px 12px;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    height: 32px;
    font-size: 0.9em;    flex-shrink: 0;
    position: absolute;
    top: 20px;
    right: 200px;
    width: auto;
}

/* Button states for hover and focus */
.datasearch-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.datasearch-button:focus {
    outline: none;
    outline: 2px solid var(--primary-color);
}