.app-container {
  display: flex;
  flex-direction: column; /* Header on top, Body below */
}

.app-body {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: auto;
  margin-top: 64px;    /* Height of the Header */
  margin-left: 256px;  /* Width of the Sidebar */
  min-height: calc(100vh - 64px);
}

.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 256px;
  height: calc(100vh - 64px);
  flex-shrink: 0;
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 var(--border-color-light);
  overflow-y: auto;
  z-index: 90;
}

.sidebar-nav {
  padding: 16px;
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 5px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-dark);
  text-decoration: none;
  transition: all 0.2s ease;
}

.sidebar-nav a:hover{
  background-color: var(--bg-color-stripe-even);
  color:var(--text-color-dark);
}

.sidebar-nav a.active-link {
  color: var(--text-color-white);
  background-color: var(--primary-color);
  border: none;
}
